USE [master]
GO
/****** Object:  Database [CuaHangMyPham]    Script Date: 4/16/2024 5:03:50 PM ******/
CREATE DATABASE [CuaHangMyPham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangMyPham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CuaHangMyPham.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHangMyPham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CuaHangMyPham_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangMyPham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangMyPham]
GO
/****** Object:  Table [dbo].[tblChatlieu]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChatlieu](
	[Machatlieu] [nvarchar](10) NOT NULL,
	[Tenchatlieu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblChatlieu] PRIMARY KEY CLUSTERED 
(
	[Machatlieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChitiethoadonban]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChitiethoadonban](
	[SoHDB] [nvarchar](10) NOT NULL,
	[Mahang] [nvarchar](10) NOT NULL,
	[Soluong] [int] NOT NULL,
	[Giamgia] [float] NULL,
	[Thanhtien] [float] NOT NULL,
 CONSTRAINT [PK_tblChitiethoadonban] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC,
	[Mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblChitiethoadonnhap]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChitiethoadonnhap](
	[SoHDN] [nvarchar](10) NOT NULL,
	[Mahang] [nvarchar](10) NOT NULL,
	[Soluong] [int] NOT NULL,
	[Dongia] [float] NOT NULL,
	[Giamgia] [float] NULL,
	[Thanhtien] [float] NOT NULL,
 CONSTRAINT [PK_tblChitiethoadonnhap] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC,
	[Mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCongdung]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCongdung](
	[Macongdung] [nvarchar](10) NOT NULL,
	[Tencongdung] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblCongdung] PRIMARY KEY CLUSTERED 
(
	[Macongdung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCongviec]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCongviec](
	[MaCV] [nvarchar](10) NOT NULL,
	[TenCV] [nvarchar](50) NOT NULL,
	[Mucluong] [float] NOT NULL,
 CONSTRAINT [PK_tblCongviec] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHanghoa]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHanghoa](
	[Mahang] [nvarchar](10) NOT NULL,
	[Tenhang] [nvarchar](50) NULL,
	[Maloai] [nvarchar](10) NULL,
	[Makhoiluong] [nvarchar](10) NULL,
	[Mahangsx] [nvarchar](10) NULL,
	[Machatlieu] [nvarchar](10) NULL,
	[Macongdung] [nvarchar](10) NOT NULL,
	[Mamua] [nvarchar](10) NOT NULL,
	[Mamau] [nvarchar](10) NOT NULL,
	[ManuocSX] [nvarchar](10) NOT NULL,
	[Soluong] [int] NOT NULL,
	[Dongianhap] [float] NOT NULL,
	[Dongiaban] [float] NOT NULL,
	[Thoigianbaohanh] [int] NULL,
	[Anh] [nvarchar](200) NULL,
	[Ghichu] [nvarchar](200) NULL,
 CONSTRAINT [PK_tblHanghoa] PRIMARY KEY CLUSTERED 
(
	[Mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHangsanxuat]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHangsanxuat](
	[Mahangsx] [nvarchar](10) NOT NULL,
	[Tenhangsx] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblHangsanxuat] PRIMARY KEY CLUSTERED 
(
	[Mahangsx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoadonban]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoadonban](
	[SoHDB] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[Ngayban] [datetime] NOT NULL,
	[MaKH] [nvarchar](10) NOT NULL,
	[Tongtien] [float] NOT NULL,
 CONSTRAINT [PK_tblHoadonban] PRIMARY KEY CLUSTERED 
(
	[SoHDB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHoadonnhap]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoadonnhap](
	[SoHDN] [nvarchar](10) NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[Ngaynhap] [datetime] NOT NULL,
	[MaNCC] [nvarchar](10) NOT NULL,
	[Tongtien] [float] NOT NULL,
 CONSTRAINT [PK_tblHoadonnhap] PRIMARY KEY CLUSTERED 
(
	[SoHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhachhang]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachhang](
	[MaKH] [nvarchar](10) NOT NULL,
	[Tenkhach] [nvarchar](50) NULL,
	[Diachi] [nvarchar](50) NOT NULL,
	[Dienthoai] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_tblKhachhang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblKhoiluong]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhoiluong](
	[Makhoiluong] [nvarchar](10) NOT NULL,
	[Tenkhoiluong] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_tblKhoiluong] PRIMARY KEY CLUSTERED 
(
	[Makhoiluong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLoai]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoai](
	[Maloai] [nvarchar](10) NOT NULL,
	[Tenloai] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblLoai] PRIMARY KEY CLUSTERED 
(
	[Maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMausac]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMausac](
	[Mamau] [nvarchar](10) NOT NULL,
	[Tenmau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblMausac] PRIMARY KEY CLUSTERED 
(
	[Mamau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMua]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMua](
	[Mamua] [nvarchar](10) NOT NULL,
	[Tenmua] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblMua] PRIMARY KEY CLUSTERED 
(
	[Mamua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhacungcap]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhacungcap](
	[MaNCC] [nvarchar](10) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](200) NOT NULL,
	[Dienthoai] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_tblNhacungcap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNhanvien]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanvien](
	[MaNV] [nvarchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[Gioitinh] [nvarchar](10) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[Dienthoai] [nvarchar](15) NOT NULL,
	[Diachi] [nvarchar](200) NOT NULL,
	[MaCV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_tblNhanvien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblNuocsanxuat]    Script Date: 4/16/2024 5:03:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNuocsanxuat](
	[Manuocsx] [nvarchar](10) NOT NULL,
	[Tennuocsx] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblNuocsanxuat] PRIMARY KEY CLUSTERED 
(
	[Manuocsx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblChatlieu] ([Machatlieu], [Tenchatlieu]) VALUES (N'MT01', N'Chất gel')
INSERT [dbo].[tblChatlieu] ([Machatlieu], [Tenchatlieu]) VALUES (N'MT02', N'Chất lỏng ')
INSERT [dbo].[tblChatlieu] ([Machatlieu], [Tenchatlieu]) VALUES (N'MT03', N'Kem')
GO
INSERT [dbo].[tblChitiethoadonban] ([SoHDB], [Mahang], [Soluong], [Giamgia], [Thanhtien]) VALUES (N'ORD001', N'PROD01', 1, 0.1, 144000)
INSERT [dbo].[tblChitiethoadonban] ([SoHDB], [Mahang], [Soluong], [Giamgia], [Thanhtien]) VALUES (N'ORD001', N'PROD05', 2, NULL, 260000)
INSERT [dbo].[tblChitiethoadonban] ([SoHDB], [Mahang], [Soluong], [Giamgia], [Thanhtien]) VALUES (N'ORD001', N'PROD09', 4, 0.05, 304000)
GO
INSERT [dbo].[tblChitiethoadonnhap] ([SoHDN], [Mahang], [Soluong], [Dongia], [Giamgia], [Thanhtien]) VALUES (N'IMPORT001', N'PROD02', 20, 120000, 0.15, 2040000)
INSERT [dbo].[tblChitiethoadonnhap] ([SoHDN], [Mahang], [Soluong], [Dongia], [Giamgia], [Thanhtien]) VALUES (N'IMPORT001', N'PROD07', 25, 110000, NULL, 2750000)
INSERT [dbo].[tblChitiethoadonnhap] ([SoHDN], [Mahang], [Soluong], [Dongia], [Giamgia], [Thanhtien]) VALUES (N'IMPORT002', N'PROD12', 10, 90000, 0.1, 810000)
GO
INSERT [dbo].[tblCongdung] ([Macongdung], [Tencongdung]) VALUES (N'PUR01', N'Trang điểm mắt')
INSERT [dbo].[tblCongdung] ([Macongdung], [Tencongdung]) VALUES (N'PUR02', N'Trang điểm môi')
INSERT [dbo].[tblCongdung] ([Macongdung], [Tencongdung]) VALUES (N'PUR03', N'Làm sạch da mặt')
GO
INSERT [dbo].[tblCongviec] ([MaCV], [TenCV], [Mucluong]) VALUES (N'POS01', N'Quản lý cửa hàng', 12000000)
INSERT [dbo].[tblCongviec] ([MaCV], [TenCV], [Mucluong]) VALUES (N'POS02', N'Nhân viên bán hàng', 7000000)
INSERT [dbo].[tblCongviec] ([MaCV], [TenCV], [Mucluong]) VALUES (N'POS03', N'Nhân viên trực page', 5000000)
GO
INSERT [dbo].[tblHanghoa] ([Mahang], [Tenhang], [Maloai], [Makhoiluong], [Mahangsx], [Machatlieu], [Macongdung], [Mamua], [Mamau], [ManuocSX], [Soluong], [Dongianhap], [Dongiaban], [Thoigianbaohanh], [Anh], [Ghichu]) VALUES (N'PROD01', N'Kem dưỡng ẩm La Roche Posay', N'TP01', N'QTT03', N'PD01', N'MT03', N'PUR04', N'SEASON01', N'CL05', N'CT01', 250, 100000, 160000, 6, N'https://bizweb.dktcdn.net/100/443/867/products/sp1a-1665723660114.jpg?v=1695091320723', N'Phù hợp mọi loại da
')
INSERT [dbo].[tblHanghoa] ([Mahang], [Tenhang], [Maloai], [Makhoiluong], [Mahangsx], [Machatlieu], [Macongdung], [Mamua], [Mamau], [ManuocSX], [Soluong], [Dongianhap], [Dongiaban], [Thoigianbaohanh], [Anh], [Ghichu]) VALUES (N'PROD02', N'Kem dưỡng ẩm Paula''s Choice', N'TP01', N'QTT06', N'PD04', N'MT03', N'PUR04', N'SEASON02', N'CL05', N'CT02', 230, 120000, 180000, 6, N'https://storage.beautyfulls.com/uploads-1/avatar/product/1200x/2022/09/26/figure-1664164638195.png', N'Phù hợp mọi loại da')
INSERT [dbo].[tblHanghoa] ([Mahang], [Tenhang], [Maloai], [Makhoiluong], [Mahangsx], [Machatlieu], [Macongdung], [Mamua], [Mamau], [ManuocSX], [Soluong], [Dongianhap], [Dongiaban], [Thoigianbaohanh], [Anh], [Ghichu]) VALUES (N'PROD03', N'Kem chống nắng skin Aqua', N'TP02', N'QTT02', N'PD02', N'MT03', N'PUR10', N'SEASON03', N'CL06', N'CT03', 350, 120000, 180000, 12, N'https://product.hstatic.net/1000025647/product/kem-chong-nang-skin-aqua-tone-up_854d84f2e4fb4d7580922706220468e5_master.png', N'Phù hợp cho da dầu')
GO
INSERT [dbo].[tblHangsanxuat] ([Mahangsx], [Tenhangsx]) VALUES (N'PD01', N'La Roche Posay

')
INSERT [dbo].[tblHangsanxuat] ([Mahangsx], [Tenhangsx]) VALUES (N'PD02', N'Skin Aqua')
INSERT [dbo].[tblHangsanxuat] ([Mahangsx], [Tenhangsx]) VALUES (N'PD03', N'Dove')
GO
INSERT [dbo].[tblHoadonban] ([SoHDB], [MaNV], [Ngayban], [MaKH], [Tongtien]) VALUES (N'0RD002', N'EMP002', CAST(N'2024-02-05T14:45:00.000' AS DateTime), N'CUS003', 292000)
INSERT [dbo].[tblHoadonban] ([SoHDB], [MaNV], [Ngayban], [MaKH], [Tongtien]) VALUES (N'ORD001
', N'EMP001', CAST(N'2024-01-01T08:30:00.000' AS DateTime), N'CUS002', 708000)
INSERT [dbo].[tblHoadonban] ([SoHDB], [MaNV], [Ngayban], [MaKH], [Tongtien]) VALUES (N'ORD003', N'EMP003', CAST(N'2024-03-10T10:20:00.000' AS DateTime), N'CUS004', 161000)
GO
INSERT [dbo].[tblHoadonnhap] ([SoHDN], [MaNV], [Ngaynhap], [MaNCC], [Tongtien]) VALUES (N'IMPORT001', N'EMP001', CAST(N'2023-01-04T08:10:00.000' AS DateTime), N'SUP15', 4790000)
INSERT [dbo].[tblHoadonnhap] ([SoHDN], [MaNV], [Ngaynhap], [MaNCC], [Tongtien]) VALUES (N'IMPORT002', N'EMP010', CAST(N'2023-01-25T16:30:00.000' AS DateTime), N'SUP01', 810000)
INSERT [dbo].[tblHoadonnhap] ([SoHDN], [MaNV], [Ngaynhap], [MaNCC], [Tongtien]) VALUES (N'IMPORT003', N'EMP005', CAST(N'2023-02-15T11:55:00.000' AS DateTime), N'SUP09', 3000000)
GO
INSERT [dbo].[tblKhachhang] ([MaKH], [Tenkhach], [Diachi], [Dienthoai]) VALUES (N'CUS001', N'Đào Thị Hạnh', N'Tam Đảo, Vĩnh Phúc', N'0329115236')
INSERT [dbo].[tblKhachhang] ([MaKH], [Tenkhach], [Diachi], [Dienthoai]) VALUES (N'CUS002', N'Điền Kiều Hồng Hạnh', N'Gia Lộc, Hải Dương', N'0987654321')
INSERT [dbo].[tblKhachhang] ([MaKH], [Tenkhach], [Diachi], [Dienthoai]) VALUES (N'CUS003', N'Nguyễn Lâm Anh', N'Đông Anh, Hà Nội', N'0329103583')
GO
INSERT [dbo].[tblKhoiluong] ([Makhoiluong], [Tenkhoiluong]) VALUES (N'QTT01', N'200ml')
INSERT [dbo].[tblKhoiluong] ([Makhoiluong], [Tenkhoiluong]) VALUES (N'QTT02', N'250ml')
INSERT [dbo].[tblKhoiluong] ([Makhoiluong], [Tenkhoiluong]) VALUES (N'QTT03', N'150ml')
GO
INSERT [dbo].[tblLoai] ([Maloai], [Tenloai]) VALUES (N'TP01', N'Kem dưỡng ẩm')
INSERT [dbo].[tblLoai] ([Maloai], [Tenloai]) VALUES (N'TP02', N'Kem chống nắng')
INSERT [dbo].[tblLoai] ([Maloai], [Tenloai]) VALUES (N'TP03
', N'Toner')
GO
INSERT [dbo].[tblMausac] ([Mamau], [Tenmau]) VALUES (N'CL01', N'Màu đỏ')
INSERT [dbo].[tblMausac] ([Mamau], [Tenmau]) VALUES (N'CL02', N'Màu hồng')
INSERT [dbo].[tblMausac] ([Mamau], [Tenmau]) VALUES (N'CL03', N'Màu cam')
GO
INSERT [dbo].[tblMua] ([Mamua], [Tenmua]) VALUES (N'SEASON01', N'Mùa xuân')
INSERT [dbo].[tblMua] ([Mamua], [Tenmua]) VALUES (N'SEASON02', N'Mùa hè')
INSERT [dbo].[tblMua] ([Mamua], [Tenmua]) VALUES (N'SEASON03', N'Mùa thu')
GO
INSERT [dbo].[tblNhacungcap] ([MaNCC], [TenNCC], [Diachi], [Dienthoai]) VALUES (N'SUP01', N'iFree', N'Số 102 Đường số 3, Bình Hưng Hoà, Bình Tân, TPHCM', N'0942002020')
INSERT [dbo].[tblNhacungcap] ([MaNCC], [TenNCC], [Diachi], [Dienthoai]) VALUES (N'SUP02', N'ResHPCos', N'Số 412 Nguyễn Thị Minh Khai, phường 5, quận 3, TPHCM', N'0949996969')
INSERT [dbo].[tblNhacungcap] ([MaNCC], [TenNCC], [Diachi], [Dienthoai]) VALUES (N'SUP03', N'Dạ Lan', N'Số 37, Đường Số 4, Khu Cityland Garden, P. 5, Q. Gò Vấp, TPHCM', N'0914469955')
GO
INSERT [dbo].[tblNhanvien] ([MaNV], [TenNV], [Gioitinh], [Ngaysinh], [Dienthoai], [Diachi], [MaCV]) VALUES (N'EMP001', N'Nguyễn Văn An', N'Nam
', CAST(N'1990-12-05' AS Date), N'0357620832', N'Hoàn Kiếm, Hà Nội', N'POS06')
INSERT [dbo].[tblNhanvien] ([MaNV], [TenNV], [Gioitinh], [Ngaysinh], [Dienthoai], [Diachi], [MaCV]) VALUES (N'EMP002', N'Trần Hải Đăng', N'Nam', CAST(N'1987-04-23' AS Date), N'0943720895
', N'Tây Hồ, Hà Nội', N'POS01')
INSERT [dbo].[tblNhanvien] ([MaNV], [TenNV], [Gioitinh], [Ngaysinh], [Dienthoai], [Diachi], [MaCV]) VALUES (N'EMP003', N'Phạm Thị Thúy
', N'Nữ', CAST(N'1994-08-08' AS Date), N'0396535461', N'Đống Đa, Hà Nội', N'POS02')
GO
INSERT [dbo].[tblNuocsanxuat] ([Manuocsx], [Tennuocsx]) VALUES (N'CT01', N'Pháp')
INSERT [dbo].[tblNuocsanxuat] ([Manuocsx], [Tennuocsx]) VALUES (N'CT02', N'Hàn Quốc')
INSERT [dbo].[tblNuocsanxuat] ([Manuocsx], [Tennuocsx]) VALUES (N'CT03', N'Việt Nam')
GO
USE [master]
GO
